
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    padding: o;
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    
}
section{
    background-image: url("https://images.unsplash.com/photo-1510915228340-29c85a43dcfe?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fGRhcmslMjBwcm9ncmFtbWluZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-size:cover;
    height: 100vh;
}
h1{
    color: white;
}